@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=DM+Sans&family=Source+Serif+Pro:wght@900&family=Source+Serif+Pro:ital,wght@1,600&display=swap");

h1 {
  font-family: "Source Serif Pro", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 39.06px;
  line-height: 48px;
  margin: 24px 0px 8px 0;
}
h2 {
  font-family: "Source Serif Pro", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 31.25px;
  line-height: 40px;
  margin: 24px 0px 8px 0;
}
h3 {
  font-family: "Source Serif Pro", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 32px;
  margin: 24px 0px 8px 0;
}
h4 {
  font-family: "Source Serif Pro", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  margin: 24px 0px 8px 0;
}

p {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 16px 0;
}

span {
  font-family: "DM Mono", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 12.8px;
  line-height: 16px;
}

body {
  font-family: "DM Sans", Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #232323;
  margin: 0;
}

a {
  color: inherit;
}

pre {
  background-color: #f8f5f2;
  padding: 16px;
  overflow-x: auto;
  margin: 0 0 16px 0;
  line-height: 24px;
}

code {
  font-family: "DM Mono", monospace;
  background-color: #f8f5f2;
  font-size: 14px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  background: #232323;
}

.logo-content {
  color: #f4f4f4;
}

.space-v-1 {
  height: 4px;
}

.space-v-1\.5 {
  height: 6px;
}

.space-v-2 {
  height: 8px;
}

.space-v-3 {
  height: 12px;
}

.space-v-4 {
  height: 16px;
}

.space-v-8 {
  height: 32px;
}

.space-v-10 {
  height: 40px;
}

.space-v-20 {
  height: 80px;
}

@media (min-width: 576px) {
  h1 {
    font-family: "Source Serif Pro", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48.83px;
    line-height: 64px;
    margin: 24px 0px 8px 0;
  }
  h2 {
    font-family: "Source Serif Pro", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 39.06px;
    line-height: 48px;
    margin: 24px 0px 8px 0;
  }
  h3 {
    font-family: "Source Serif Pro", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 31.25px;
    line-height: 40px;
    margin: 24px 0px 8px 0;
  }
  h4 {
    font-family: "Source Serif Pro", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 32px;
    margin: 24px 0px 8px 0;
  }
  h5 {
    font-family: "Source Serif Pro", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    margin: 24px 0px 8px 0;
  }
  p {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    margin: 0 0 16px 0;
  }

  .space-v-1 {
    height: 8px;
  }

  .space-v-1\.5 {
    height: 12px;
  }

  .space-v-2 {
    height: 16px;
  }

  .space-v-3 {
    height: 24px;
  }

  .space-v-4 {
    height: 32px;
  }

  .space-v-8 {
    height: 64px;
  }

  .space-v-10 {
    height: 80px;
  }

  .space-v-20 {
    height: 160px;
  }
}
